# Default ignored files
/../../../../../:Teranity MC/Library/OrionLib-vB/.idea/shelf/
/../../../../../:Teranity MC/Library/OrionLib-vB/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../:Teranity MC/Library/OrionLib-vB/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../:Teranity MC/Library/OrionLib-vB/.idea/dataSources/
/../../../../../:Teranity MC/Library/OrionLib-vB/.idea/dataSources.local.xml
